

.aboutme-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.aboutme {
    display: grid;
    width: 80vw;
    grid-template-rows: repeat(3, 75);
    grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas: 
    "a a a a d d d d"
    "b b b b d d d d"
    "c c c c d d d d";

}

.item1 {
    grid-area: a;
    color: #000;
}

.item2 {
    grid-area: b;
    width: 800px;
    color: #000;
}

.item3 {
    grid-area: c;
    color: ;
}

.me {
    grid-area: d;
    height: 250px;
}

.margin-left {
    margin-left: 20px;
}

.aboutme-link {
    color: #002E66;
}