@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html {
  font-family: 'Poppins', serif;
  scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFFF;
  }

.wrapper {
    max-width: 1333px;
    margin:  0 auto;
}

.link {    
    text-decoration: none;
    color: #FFFF;
    transition: all 500ms;
  }

.link:hover {
    text-decoration: none;
    color: yellow;
    font-size-adjust: 20px;
}

li {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h4 {
    font-weight: 700;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 80%;
                    } 
                              }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    html {
      font-size: 75%;
                  }

    .footer {
      font-size: 85%;
                  }
                            }

  @media only screen and (max-width: 480px) {
    .hero {
      font-size: 60%;
                    }

    .footer {
      font-size: 85%;
                    }
                            }


  