.hero {
    background: #002E66;
    height: 100vh;
    width: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
    
}

.hero h1 {
    font-size: 8em;
}





.trenner {
    background: #002E66;
    width: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
}

.mainlink {
  text-decoration: none !important;
}



