.hero {
    background: #002E66;
    height: 100vh;
    width: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
    
}

.hero h1 {
    font-size: 8em;
}





.trenner {
    background: #002E66;
    width: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
}

.mainlink {
  text-decoration: none !important;
}

.smalllogo {
  display: none;
  position: absolute;
    z-index: -1;
}

.biglogo {
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 960px) {
  .biglogo {
    display: none;
    visibility: hidden;              }

 
                          }


